/***** GENERAL STYLING *****/
html    {
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: #0b2545;
    margin: 0%;
    opacity: 1; /* This and transition affect the page loading fade in effect */
    transition: 3s opacity; /* This causes a 3 second fade in */
    letter-spacing: .2vw; /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
    font-family: 'Arial', sans-serif;
    font-size: 1.5vw; 
    overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
    user-select: none; /* This prevents the text on the webpage from being highlighted by the user */
}

body.fade-out   {
    opacity: .1;
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #fff; 
}

/* Heading 1 element hover effect */
h1:hover {
    filter: none;
    transform: scale(1.1);
    transition: transform 1s;
}

/* Styling for portfolio title text */
.white-text {
    color: #fff;
}

/* Paragraph elements */
p {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff;
    letter-spacing: 1px; /* This expands the text slightly */
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center;
}


/* Anchor elements */
a {
    color: rgb(69, 138, 234);
    cursor: pointer;
}

/* Quotation elements */
q {
    font-style: italic;
}

/* Image elements */
img {
    filter: none;
    border-radius: 5px;
    max-width: 100%; /* ensures all images stay within the width of their container */
    height: 340px;
    display: block; /* ensure our images are able to be centered */
    margin-left: auto; /* in combination with "margin-right: auto" this centers all images */
    margin-right: auto;
}

/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 2%;
    background-color: #0b2545;
}
/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: #001524;
    position: fixed;
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%;
    z-index: 1; /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on the screen */
}

/* Navbar links */
.Navbar a {
    float: left;/* This specifies that the text floats on the left on the navbar */
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Arial', sans-serif;
    font-size: 18px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s; /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.75s; 
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #3a6ea5;
    color: #fff;
    font-weight: bold;
}

/* Navbar home button */
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color: #3a6ea5;
}
/***** END OF NAVBAR STYLING *****/

/* Drop down banner */
.banner_text {
    background: #001524;
    color: white;
    width: 100%; /* Ensures the video-text container fills the width of the video */
    padding: 20px; /* This adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay banner text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}
/***** END OF VIDEO STYLING *****/

/******** SLIDESHOW STYLING *******/
#Slideshow_Background   {
    background: rgba(255, 255, 255, 0.35);
}

.mySlides   {
    display: none;
}

#Slideshow_Container    {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin:auto;
}

/* Remove the underline from the previous and next buttons on the slideshow */
#Slideshow_Container a {
    text-decoration: none;
}

.Slideshow_Images {
    vertical-align: middle; /* This centers the images vertically within the slideshow container */
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(255, 255, 255, 0.75);
    width: 100%;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute; /* This makes the next and previous buttons positioned relative to the slideshow container */
    top: 50%; /* This moves the buttons up in the slideshow container */
    width: auto;
    padding: 2vw;
    color: darkgray; 
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none; /* This property makes it so that the user cannot highlight the text */
    transition: 0.6s ease;
}

.Next {
    right: 0; /* This moves the next button to the right side of the slideshow container */
    border-radius: 3px 0 0 3px;
}

/* Hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.text {
    color: white; 
    padding: 1vw;
    position: absolute; /* This ensures the text is positioned within the image */
    bottom: 0; /* This property sets the text at the bottom of the image */
    width: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    letter-spacing: .1vw; /* This gives slight spacing between the letters */
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px; /* Gives the text background rounded corners on the bottom left and right corners */
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: #669bbc;
    border-radius: 50%; /* Makes the dots circles by rounding each corner */
    display: inline-block; /* Allows the dots to sit next to eachother rather than on a new line */
    transition: background-color 0.6s ease; /* When clicked on the dots transition to a different color when clicked or hovered over (the affect is defined below) */
    z-index: 1; /* This ensures the dots will be displayed above any other elements */
}

.active, .dot:hover {
    background-color: #0b2545;
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade; 
    animation-duration: 1.5s; /* The animation lasts 1.5 seconds */
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}
/***** END SLIDESHOW STYLING *****/



/***** TABLE STYLING *****/
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding: 1.6%;
    height: 450px; /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text you enter */
    background-color: #3a6ea5;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.5);
}

.Row:after {
	content: ""; /* By leaving this blank, we are allowing the footer to be displayed*/
	display: table; /* Table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/***** END OF TABLE STYLING *****/





/***** CONTACT FORM STYLING *****/
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw; 
    right: 1.75vw;
    width: 25vw;
    background-color: #669bbc;
    color: #0b2545;
    border: solid #001524;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup {
    z-index: 8; /* This z-index ensures the contact form shows above all other elements on the page */
    display: none;
    position: fixed;
    bottom: .5vw; /* Slightly up from the bottom of the viewport --note that positions can also be specified in vw */
    right: .5vw; 
}

/* Form styling */
.form-container {
    max-width: 49vw; /* Relative sizing of the form container - 49% of the viewport width */
    padding: 1vw; /* Adds padding between the form-popup and the form-container 
    --note that padding can also be vw */
    background-color: white; 
}

/* Input fields */
.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-size: 1vw;
}

/* General styling for all buttons */
button {
    font-family:'Arial', sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw; 
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
    border-color: #fff;
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white;
    background-color: #3a6ea5; 
    transition-duration: 1s;
    -webkit-transition-duration: 1s; 
    border-color: #3a6ea5;
}

/* Submit button */
.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* Adds space between the submit button and the close button */
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Close button */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** END OF CONTACT FORM STYLING *****/


/*Media rule for navbar links for different screen sizes*/
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

